* {
    padding: 0;
    margin: 0;
}

/* Chatbox */
.chatbox-container {
    background: #585c63;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: auto;
    margin-top: 5rem;
    max-width: 37.5rem;
    height: 38.5rem;
}

.chatbox-header {
    margin-bottom: 1em;
    color: #ffffff;
}

.chatbox-header h1 {
    font-weight: bold;
    font-size: 1.25em;
}

/* Messages */
.message {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    border: 1px solid #000;
}

.chatbox-messages {
    height: 24em;
    overflow-y: scroll;
}

.message:nth-child(even) {
    background-color: #8338EC;
}

.message:nth-child(odd) {
    background-color: #228d69;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.message-text {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    word-wrap: break-word;
}

.message-timestamp {
    font-size: 0.75rem;
    text-align: right;
}

/* Message Form */
.chatbox-input-form {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 0.7rem;
}

.chatbox-input {
    padding: 0.7rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    color: #333333;
    font-size: 1rem;
    flex-grow: 1;
}

.send-button {
    background-color: #8338EC;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}

.clear-chat-button {
    display: block;
    margin: 2.5rem auto;
    font-size: 1rem;
    font-weight: bold;
}

/* Buttons */
.button {
    border: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid #000000;
}

.button:hover {
    opacity: 80%;
}

.button:active {
    transform: translateY(2px);
}

a {
    color: #0000ff;
}

a:hover {
    text-decoration: none;
}
