* {
    padding: 0;
    margin: 0;
}

/* Chatbox */
.chatbox-container {
    background: #15202b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5em;
    padding: 0.5em 1.25em;
    margin: auto;
    margin-top: 5rem;
    max-width: 37.5em;
    height: 37.5em;
    box-shadow: 0 0 1.25em 0.5em #c3c3c333;
}

.chatbox-header {
    margin-bottom: 1em;
    color: #fff;
}

.chatbox-header h1 {
    font-size: 1.25em;
    font-weight: bold;
}

.chatbox-messages {
    height: 23em;
    overflow-y: scroll;
}

/* Messages */
.message {
    padding: 0.625em;
    border-radius: 1em;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 0.31em;
}

.message-text {
    font-size: 1em;
    margin-bottom: 0.31em;
    word-wrap: break-word;
}

.message-timestamp {
    font-size: 0.75em;
    text-align: right;
}

/* Message Form */
.chatbox-input-form {
    display: flex;
    align-items: center;
    margin-top: 2em;
    gap: 0.625em;
}

.chatbox-input {
    padding: 0.625em;
    border: none;
    border-radius: 0.5em;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1em;
    flex-grow: 1;
}

.send-button {
    background-color: #1c9bef;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

.clear-chat-button {
    display: block;
    margin: 2.5em auto;
}

/* Buttons */
.button {
    border: none;
    padding: 0.625em;
    border-radius: 0.5em;
    cursor: pointer;
}

.button:hover {
    filter: brightness(0.9);
}

.button:active {
    transform: translateY(2px);
}
